{% extends 'base.html.twig' %}

{% block title %} Demandes index{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Toutes les demandes</h1>

<a href="{{path('new_demande')}}">
						Nouvelle commande
					</a>
					
<table class="table" id="lstindex">
		<thead>
			<tr>
				<th>User</th>
				<th>date de creation</th>			
				<th>Status</th>
				<th>actions</th>
			</tr>
		</thead>
    <tbody>		
	
			{% for demandes in demandes %}
			<tr>
			<td>
						<a href="{{path('user_show', {'id':demande.user.id} )}}">
							{{demandes.user.firstname}}
						</a>
					</td>
		<td>{{ demandes.createdAt ? demande.createdAt|date('Y-m-d H:i:s') : '' }}
					</td>			
					
					<td>{{ demandes.status  }}</td>
					<td>
					<a href="{{ path('demande_show', {'id': demandes.id}) }}">Afficher</a>
						<a href="{{ path('demande_edit', {'id': demandes.id}) }}">Modifier</a>
					</td>
				</tr>
				{% else %}
				<tr>
					<td colspan="6">Aucun enregistrement a afficher</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
