{% extends 'base.html.twig' %}

{% block title %}demande{% endblock %}

{% block body %}
<h1>Demande  {{demandes.id}}</h1>

    <table class="table"></table>
        <tbody>
                          
             <th>Libellé de la commande</th>
                <td>{{ demandes.label}}</td>
            </tr>
			<tr>
			<th>
					Fichier
				</th>
								<td>
					
					<a href="{{ path('files',{d:demandes.id}) }}">Voir le fichier</a>
					
				</td>
				</tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ demandes.createdAt ? demandes.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            
            <tr>
                <th>Status</th>
                <td>{{ demandes.status}}</td>
            </tr>
			
			<th>Combinaison linguistique</th>
                <td>{{ demandes.langue}}</td>
            </tr>
			
			<th>Commentaire</th>
                <td>{{ demandes.comment}}</td>
            </tr>
			
        </tbody>
    </table>
    
    
    	{{ include('demandes/_delete_form.html.twig') }}
{% endblock %}
