{% extends 'base.html.twig' %}

{% block title %}Fichiers index{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {# Note: admin mode, list of all files in the files menu #}
		<h1>Liste de tous les  fichiers</h1> 
		
		<a href="{{ path('new_file', {d:d}) }}">Nouveau
			</a>
			
		<table class="table">
			<thead>
				<tr>
					{#<th>Id</th>#}
					<th>Name</th>
					<th>Path</th>
					<th>Extension</th>
					<th>Size</th>
					<th>Type</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for file in files %}
					<tr>
						{#<td>{{ file.id }}</td>#}
						<td>
							<a href="{{ path('files_show', {'id': file.id}) }}">{{ file.name }}</a>
						</td>
						<td>{{ file.path }}</td>
						{% if file.extension== "application/pdf" %}
						<td>pdf</td>
						{% elseif file.extension == "application/msword" or file.extension == "application/vnd.openxmlformats-officedocument.wordprocessingml.document" %}
						<td>doc/docx</td>
						{% else %}
						<td>{{ file.extension }}</td>
						{% endif %}
						
						<td>{{ file.size }}</td>
						<td>{{ file.type }}</td>

						<td>
							{#<a href="{{ path('files_show', {'id': file.id}) }}">show</a>#}
							<a href="{{ path('files_delete', {'id': file.id}) }}">delete</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="7">aucun fichier dans la liste</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>


    
	</div>
{% endblock %}
