<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="{{path('index')}}">
		Agence Transline 
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Menu
				</a>
				
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="{{path('about')}}">
						Notre agence
					</a>
									
					<a class="dropdown-item" href="{{path('services')}}">
						Nos services
					</a>
					
						<a class="dropdown-item" href="{{path('users_index')}}">
						Utilisateurs
					</a>
					
					<a class="dropdown-item" href="{{path('demandes_index')}}">
						Demandes
					</a>
					
					<a class="dropdown-item" href="{{path('langues_index')}}">
						Langues
					</a>
					<a class="dropdown-item" href="{{path('files')}}">
						Fichiers
					</a>
									</li>
									</ul>
					</div>
					
					</div>
					
					<div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
	<ul class="nav navbar-nav navbar-right">
		{% if app.user %}
			<li>
				<a class="nav-link" href="{{ path('app_logout') }}">Me déconnecter</a>
			</li>
		{% else %}
			<li>
				<a class="nav-link" href="{{ path('app_login') }}">accéder à mon espace</a>
			</li>
			<p>Vous n'avez pas de compte?</p>
			<li>
				<a class="nav-link" href="{{ path('registration') }}">Je crée mon compte</a>
			</li>
		{% endif %}
	</ul>
			</nav>
			